body {
  padding: 0;
  padding-left: 100px;
}

.display {
    text-align: center;
}

@media only screen and (min-width: 1280px) {
  .container {
    background-color: #EDF8FF;
    padding:10px;
    margin-right: auto;
    margin-left: auto;
    width: 47%;
  }
}
